<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0)"><b>Freelance Studio</b></a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Зарегистрировать нового пользователя</p>

            <form>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Имя">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Пароль">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Повторите пароль">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">Я согласен с <a href="/">условиями</a></label>
<!--                            <label for="remember">Я согласен с <a href="javascript:void(0)">условиями</a></label>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-block">Зарегистрироваться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="social-auth-links text-center mb-3">
        <p>- ИЛИ -</p>
    </div>

    <p class="mb-0">
        <a href="/login" class="btn btn-block btn-warning">Войти в систему</a>
    </p>
</div>
