<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0)"><b>Freelance Studio</b></a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Зарегистрировать нового пользователя</p>
            <div class="error invalid-feedback text-center mb-3" id="common-error">Не удалось зарегистрировать
                пользователя
            </div>

            <form>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Имя" id="name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <span class="error invalid-feedback" id="name-error">Заполните имя</span>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Фамилия" id="last-name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <span class="error invalid-feedback" id="last-name-error">Заполните фамилию</span>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" id="email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <span class="error invalid-feedback" id="email-error">Введите корректный e-mail</span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Пароль" id="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span class="error invalid-feedback" id="password-error">
                        Пароль должен содержать строчные, заглавные буквы, спецсимволы
                        и цифры и быть длиннее 8-ми символов
                    </span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Повторите пароль" id="password-repeat">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span class="error invalid-feedback" id="password-repeat-error">Пароль и повторение пароля должны совпадать</span>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agree">
                            <label for="agree">Я согласен с <a href="javascript:void(0)">условиями</a></label>
                            <span class="error invalid-feedback"
                                  id="agree-error">Вам необходимо согласиться с условиями</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-block" id="process-button">Зарегистрироваться
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="social-auth-links text-center mb-3">
        <p>- ИЛИ -</p>
    </div>

    <p class="mb-0">
        <a href="/login" class="btn btn-block btn-warning">Войти в систему</a>
    </p>
</div>
